<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">

    <!-- Servlet per getArticoli -->
    <servlet>
        <servlet-name>getArticoli</servlet-name>
        <servlet-class>Control.getArticoli</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getArticoli</servlet-name>
        <url-pattern>/getArticoli</url-pattern>
    </servlet-mapping>

    <!-- Auth servlet -->
    <servlet>
        <servlet-name>autenticazioneServlet</servlet-name>
        <servlet-class>Control.autenticazioneServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>autenticazioneServlet</servlet-name>
        <url-pattern>/API/autenticazione/*</url-pattern>
    </servlet-mapping>

    <!-- Carrello servlet -->
    <servlet>
        <servlet-name>carrelloServlet</servlet-name>
        <servlet-class>Control.carrelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>carrelloServlet</servlet-name>
        <url-pattern>/api/cart/*</url-pattern>
    </servlet-mapping>

    <!-- Wishlist servlet -->
    <servlet>
        <servlet-name>wishlistServlet</servlet-name>
        <servlet-class>Control.wishlistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>wishlistServlet</servlet-name>
        <url-pattern>/api/wishlist/*</url-pattern>
    </servlet-mapping>

    <!-- Ordine servlet -->
    <servlet>
        <servlet-name>ordineServlet</servlet-name>
        <servlet-class>Control.ordineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ordineServlet</servlet-name>
        <url-pattern>/api/order/*</url-pattern>
    </servlet-mapping>

    <!-- Fattura PDF servlet -->
    <servlet>
        <servlet-name>fatturaPdfServlet</servlet-name>
        <servlet-class>Control.fatturaPdfServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fatturaPdfServlet</servlet-name>
        <url-pattern>/api/invoice/pdf</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>Control.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/API/admin/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>